<div id="header">
		<div class="inner">
			<% if notice %>
            <div class="notice">
                <% if notice == 'phone' %>
                We’ll call you shortly and connect you with the ICANN office. Please also submit an email comment to 
                ICANN using the form below. Doing both of these things will ensure your voice is heard! If for some 
                reason, your call wasn’t connected, you can call ICANN’s LA office directly here: +1 310 301 5800.
                <% elsif notice == 'phone_error' %>
                We couldn't call your phone number. Please check the number you provided and try again. If for some 
                reason, your get the same error again, you can call ICANN’s LA office directly here: +1 310 301 5800.
                <% elsif notice == 'email' %>
                <a href="mailto:comments-ppsai-initial-05may15@icann.org?cc=policy-staff@icann.org&subject=iCANN%20-%20Respect%20Our%20Privacy&body=Dear%20ICANN%20%E2%80%93%0D%0A%0D%0ARegarding%20the%20proposed%20rules%20governing%20companies%20that%20provide%20WHOIS%20privacy%20services%20%28as%20set%20forth%20in%20the%20Privacy%20and%20Policy%20Services%20Accreditation%20Issues%20Policy%20document%29%3A%0D%0A%0D%0AI%20urge%20you%20to%20respect%20internet%20users%27%20rights%20to%20privacy%20and%20due%20process.%20%0D%0A-%20Everyone%20deserves%20the%20right%20to%20privacy.%0D%0A-%20No%20one%E2%80%99s%20personal%20information%20should%20be%20revealed%20without%20a%20court%20order%2C%20regardless%20of%20whether%20the%20request%20comes%20from%20a%20private%20individual%20or%20law%20enforcement%20agency.%20%0D%0A%0D%0APrivate%20information%20should%20be%20kept%20private.%20Thank%20you.">Click here</a> 
                to launch your email client and send your comment to ICANN.<br><br>
                Wait for a verification link from them and be sure to click it to ensure your comment goes 
                through.<br><br>
                Alternatively, you can manually send the email to "comments-ppsai-initial-05may15@icann.org” and copy 
                the body of our email by clicking <a href="#" class="copy">here</a>.
                <% end %>
            </div>
			<% end %>
		<h2>Save Domain Privacy</h2>
		<h3>Tell ICANN: "Respect our privacy. Don't expose WHOIS data."</h3>
		<p>Did you know that your privacy rights are currently under threat? ICANN* – the overseers of the Internet’s domain name system – are considering introducing a rule that would impact all netizens. If you care about your online privacy, this is a big deal.</p>

		<ul class="buttons">
		<li><div class="fb-share-button" data-href="http://RespectOurPrivacy.com" data-layout="button"></div></li>
		<li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
		</ul>

		<div id="call-to-action" class="<% if params[:next] == 'email' %>email<% end %>">
			<h3>Contact ICANN today!</h2>
			<p>Demand your right to privacy and due process. Let ICANN know that you object to any release of personal information without a court order. There's no time to waste – ICANN policy discussions are already underway and the close date for comments is July 7, 2015.</p><br>
			<div class="call-form">
				<p class="small large">Enter your phone number* here. We'll call you and guide you through the process.</p>
				<form method="post" action="/phones/create">
					<div class="input single">
						<input type="text" name="number" placeholder="555-555-5555" pattern="\d{3}[\-\|\.\s]?\d{3}[\-\|\.\s]?\d{4}" required>
						<input type="submit" value="Call ICANN">
					</div>
				</form>
				<p class="small">Can't call? <span class="show-email">Send an email</span> instead.</p><br>
				<p class="small">*Don't worry, we will only use this number to call you once for this purpose and will be deleted within 48 hours. We will not/do not collect any of your data for later use.</p>
			</div>

			<div class="email-form">
				<p class="small large">Send a comment directly to ICANN . We encourage you to write your own note below:</p>
				<form method="post" action="/emails/create" class="input">
					<div class="input">
						<input placeholder="Full Name" name="name" type="text" required>
						<input placeholder="Email Address" name="email" type="email" required>
						<input placeholder="Address (optional)" name="address" type="text">
						<input placeholder="Zip Code (optional)" name="zipcode" type="text">
						<textarea name="body" placeholder="Body" required>Dear ICANN –

Regarding the proposed rules governing companies that provide WHOIS privacy services (as set forth in the Privacy and Policy Services Accreditation Issues Policy document):

I urge you to respect internet users' rights to privacy and due process. 
- Everyone deserves the right to privacy.
- No one’s personal information should be revealed without a court order, regardless of whether the request comes from a private individual or law enforcement agency. 

Private information should be kept private. Thank you.</textarea>
						<input type="submit" value="Email ICANN">
					</div>
				</form>
				<p class="small"><span class="show-call">Make a phone call</span> instead.</p>
			</div>
		</div>
	<div class="clear"></div>
</div>
	</div>

	<div id="bar">
		<a href="https://www.namecheap.com" target="_blank"><%= image_tag "namecheap.png" %></a>
		<a href="https://www.eff.org" target="_blank"><%= image_tag "eff.png" %></a>
		<a href="https://www.fightforthefuture.org" target="_blank"><%= image_tag "fftf.png" %></a>
	</div>

	<div id="content">
		<div class="inner">
			<h4>What's Happening</h4>
			<p>Under new guidelines proposed by MarkMonitor and others who represent the same industries that backed SOPA, domain holders with sites associated to "commercial activity" will no longer be able to protect their private information with WHOIS protection services. "Commercial activity" casts a wide net, which means that a vast number of domain holders will be affected. Your privacy provider could be forced to publish your contact data in WHOIS or even give it out to anyone who complains about your website, without due process. Why should a small business owner have to publicize her home address just to have a website?</p>
			<p>We think your privacy should be protected, regardless of whether your website is personal or commercial, and your confidential info should not be revealed without due process. If you agree, it’s time to tell ICANN.</p>
			<p>To view the new proposed rules, visit: <a href="http://gnso.icann.org/en/issues/raa/ppsai-initial-05may15-en.pdf" target="_blank">Privacy & Proxy Services Accreditation Issues Policy</a>.</p>
		</div>

		<div id="quotes">
		<div class="inner">
			<blockquote>
				<p>"No WHOIS privacy provider wants their service to be used to conceal illegal activity, and the vast majority of domain owners are not criminals. Using a WHOIS privacy service is no more suspicious than having an unlisted phone number. These new proposed rules would wreak havoc on our right to privacy online. ICANN is moving quickly, so we should too – contact them today and tell them to respect our privacy."</p>
				<footer>Richard Kirkendall, Namecheap CEO & Founder</footer>
			</blockquote>
			<blockquote>
				<p>"Domain name privacy protects us from spammers and enables freedom of speech. We've got to protect it."</p>
				<footer>Holmes Wilson, Co-founder, Fight for the Future</footer>
			</blockquote>
			<blockquote>
				<p>"Some IP rightsholders and law enforcement authorities would like to use ICANN to shortcut the due process of law and other domestic legal safeguards. The weakening of WHOIS privacy services is an example of this, and that's why we're speaking up to defend the privacy of domain owners."</p>
				<footer>Jeremy Malcolm, Senior Global Policy Analyst, Electronic Frontier Foundation</footer>
			</blockquote>			
		</div>
		</div>

			<p class="small inner">* Who is ICANN? The Internet Corporation for Assigned Names and Numbers. They coordinate everything related to domains. Read more about their <a href="https://www.icann.org/get-started" target="_blank">mission and goals here</a>.</p>
		</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>