<!DOCTYPE html>
<html>
<head>
	<title>Save Domain Privacy: Respect our privacy. Don't expose WHOIS data.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=848">
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=186836398031780";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<%= yield %>
</body>
</html>